@use '../variables';

.btn--primary{
    background-color: variables.$buttonColor;
    color: variables.$textColor;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 16px;
    border-radius: 8px;
    white-space: nowrap;
    display: block;

    &:hover{
        background-color: lighten(variables.$buttonColor, 1%);
    }

    @media (max-width: 640px){
        font-size: 14px;
    }
}